/* ************** SELECT2 OVERWRITE ************** */

.select2-container {
    height: 100%;
    padding: 0;
    border: none;
}
.select2-container-multi .select2-choices {
    overflow: visible;
    min-height: auto;
    padding: 3px;
}
.select2-container-multi .select2-choices:before, .select2-container-multi .select2-choices:after {
    display: table;
    content: " ";
    clear: both;
}
.select2-container-multi .select2-choices .select2-search-choice {
    margin: 0;
}
.select2-container-multi .select2-choices .select2-search-choice > div {
    position: relative;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px;
}

/* ************** END SELECT2 OVERWRITE ************** */

.select2-selected-image, .select2-option-image {
    height: 28px;
    margin-right: 3px;
    vertical-align: middle;
}
.select2-selected-image.big {
    float: left;
    max-width: 100px;
    height: auto;
    border-radius: 0;
}
.select2-option-image {
    height: 16px;
}
.select2-selected-description {
    position: absolute;
    left: 50%;
    bottom: 150%;
    min-width: 600px;
    padding: 6px;
    background: #f3f3f3;
    font-size: 13px;
    display: none;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.select2-selected-item:hover ~ .select2-selected-description {
    display: block;
}
.meta-wrapper {
    float: right;
    width: calc(100% - 110px);
}
.des-item {
    margin-bottom: 5px;
}

.meta-wrapper .heading {
    color: #015688;
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}